{% extends 'base.html.twig' %}

{% block body %}
<style>


.titlee {
  color: grey;
  font-size: 18px;
}

.card {
  margin-left: 30%;
  width : 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.buttonn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}



.buttonn:hover, a:hover {
  opacity: 0.7;
}


</style>





<div class="card">
  <img class="profi" src="/profil.png" style="width:30px; height:30px;">
  <h1>Bienvenue {{app.user.nom}} {{app.user.prenom}} !</h1>
  <p class="title">{{app.user.email}}</p>
  <p class="titlee">Adresse</p>

  <p>{{app.user.adresse}}</p>

     <p class="titlee">Nombre de Stagiaires</p>
        {{app.user.nbreStagiaires}}

  <p><a class="buttonn" href="{{path('update_post',{id:app.user.id})}}">Editer</a></p>
</div>

{% endblock %}