{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations !{% endblock %}

{% block body %}

<style>

body {
    background-color : #001387;
}

.container {
  padding: 16px;
}

label,h1 {
    color : white;
}

.inscriptionContainer{
  margin-left: 35%;
}

input[type=text] {
  width: 30%;
  border-radius: 10px;
  height: 10px;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  border: none;
}

input[type=password] {
  width: 28.5%;
  border-radius: 10px;
  height: 10px;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  border: none;
}

input[type=number] {
  width: 120px;
  border-radius: 10px;
  height: 10px;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  border: none;
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #FFFF;
  color: #001387;
  font-weight: bold;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 42%;
  margin-top: 20px;
  width: 250px;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: #001387;
}

.emailContainer {
  margin-left: 45px;
}

.nomContainer {
  margin-left: 52px;
}

.prenomContainer {
  margin-left: 35px;
}

.adresseContainer {
  margin-left: 34px;
}

.siretContainer {
  margin-left: 65px;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>

    <h1 style="text-align:center">Inscription</h1>
    {{ form_start(registrationForm) }}
    <div class="inscriptionContainer">
    <div class="emailContainer">
        {{ form_row(registrationForm.email) }}
    </div>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
    <div class="nomContainer">
        {{ form_row(registrationForm.Nom) }}
    </div>
    <div class="prenomContainer">
        {{ form_row(registrationForm.Prenom) }}
    </div>
    <div class="adresseContainer">
        {{ form_row(registrationForm.Adresse) }}
    </div>
    <div class="siretContainer">
        {{ form_row(registrationForm.Siret) }}
    </div>
        {{ form_row(registrationForm.nbreStagiaires) }}
        {{ form_row(registrationForm.agreeTerms) }}
</div>

        <button type="submit" class="registerbtn">Modifier</button>
    {{ form_end(registrationForm) }}
  
{% endblock %}
