{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations !{% endblock %}

{% block body %}

<style>
body {
    background-color: #001387;
    margin-bottom: 60px; /* Hauteur du footer */
}

.container {
    padding: 16px;
}

label,
h1 {
    color: black;
}

.inscriptionContainer {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}

input[type=text],
input[type=password],
input[type=number] {
    width: calc(100% - 30px);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    border: none;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus {
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #001387;
    color: white;
    font-weight: bold;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: #001387;
}

.emailContainer {
    margin-bottom: 10px;
}

.nomContainer,
.prenomContainer,
.adresseContainer,
.siretContainer {
    margin-bottom: 10px;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}
</style>

<div class="inscriptionContainer">
    <h1 style="text-align:center">Modifier mes informations</h1>
    {{ form_start(registrationForm) }}
    <div class="emailContainer">
        {{ form_row(registrationForm.email) }}
    </div>
    {{ form_row(registrationForm.plainPassword, {
        label: 'Mot de passe'
    }) }}
    <div class="nomContainer">
        {{ form_row(registrationForm.Nom) }}
    </div>
    <div class="prenomContainer">
        {{ form_row(registrationForm.Prenom) }}
    </div>
    <div class="adresseContainer">
        {{ form_row(registrationForm.Adresse) }}
    </div>
    <div class="siretContainer">
        {{ form_row(registrationForm.Siret) }}
    </div>
    {{ form_row(registrationForm.nbreStagiaires) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="registerbtn">Modifier</button>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}




