{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<style>
body {
    background-color : #001387;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}
h1 {
    color : white;
    margin-left: 10%;
}
label{
    color : white;
    margin-left: 30%;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=number] {
  width: 20%;
  padding: 5px;
  margin: 10px;
  display: inline-block;
  border: none;
  height : 10%;
}

input[type=text]:focus, input[type=password]:focus {
  
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  margin-top : 20px;
  border: none;
  cursor: pointer;
  width: 10%;
  opacity: 0.9;
  margin-left : 40%;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

form {

  margin-top : 50px;
}
</style>



    {{ form_start(registrationForm) }}
    
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        {{ form_row(registrationForm.Nom) }}
        {{ form_row(registrationForm.Prenom) }}
        {{ form_row(registrationForm.Adresse) }}
        {{ form_row(registrationForm.Siret) }}
        
        {{ form_row(registrationForm.nbreStagiaires) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="registerbtn">Inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}



