{% extends 'base.html.twig' %}

{% block title %}Inscription sur l'application RFCD !{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: #001387;
            margin-bottom: 60px; /* Hauteur du footer */
        }

        .container {
            padding: 10px;
        }

        label, p {
            color: black;
        }

        h1 {
            color: white;
        }

        .inscriptionContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }

        .cadre {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }

        input[type=text], input[type=email], input[type=password], input[type=number] {
            font-family: Arial;
            width: 250px;
            border-radius: 5px;
            height: 30px;
            padding: 5px;
            margin: 10px;
            display: inline-block;
            border: 1px solid black;
        }

        input[type=text]:focus, input[type=password]:focus, input[type=number]:focus {
            outline: none;
        }

        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        .registerbtn {
            font-family: Arial;
            font-weight: bold;
            background-color: black;
            color: white;
            padding: 10px 20px;
            margin: 10px auto;
            display: block;
            border: none;
            cursor: pointer;
            border-radius: 10px;
            opacity: 0.9;
        }

        .registerbtn:hover {
            opacity: 1;
        }

        a {
            color: white;
        }

        .goToConnexion {
            color: white;
            text-align: center;
            margin-top: 5px;
        }

        .connexionLink {
            color: white;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 style="text-align:center">Inscription</h1>
        <div class="container signin">
        <p class="goToConnexion">Avez-vous déjà un compte? <a class="connexionLink" href="{{ path('app_login') }}">Connexion</a></p>
    </div>
    <div class="inscriptionContainer">
        <div class="cadre">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            {{ form_row(registrationForm.Nom) }}
            {{ form_row(registrationForm.Prenom) }}
            {{ form_row(registrationForm.Adresse) }}
            {{ form_row(registrationForm.Siret) }}
            {{ form_row(registrationForm.nbreStagiaires) }}
            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="registerbtn">Inscription</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
