{% extends 'base.html.twig' %}

{% block title %}Ajout de Stagiaire{% endblock %}

{% block body %}

<style>
body {
    background-color : #001387;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}
label,h1 {
    color : white;
}
/* Full-width input fields */
input[type=text], input[type=password], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  
}

input[type=text]:focus, input[type=password]:focus {
  
  outline: none;
}
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color : white;
}
</style>


 <h1 style="text-align:center">Ajout de stagiaire</h1>

    {{ form_start(stagiaireForm) }}
    
        {{ form_row(stagiaireForm.Email) }}
        {{ form_row(stagiaireForm.Nom) }}
        {{ form_row(stagiaireForm.Prenom) }}
        {{ form_row(stagiaireForm.Profil) }}
        

        <button type="submit" class="registerbtn">Ajouter</button>
    {{ form_end(stagiaireForm) }}
    <a href="{{path('app_liste', {'id':app.user.id})}}">Retour à la liste</a>
{% endblock %}