{% extends 'base.html.twig' %}
{% block title %}Formulaire de contact !{% endblock %}
{% block body %}
<style>

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #001387;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
</style>
{% block content %}
    <h1>Contactez-nous</h1>

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {{ app.session.flashBag.get('success')[0] }}
    </div>
{% endif %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}

        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
{% endblock %}